@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

:root {
  --base-900: #18181b;
  --base-50: #fafafa;
  --primary: #f43f5e;
}

body {
  font-size: 16px;
  background-color: var(--base-50);
  color: var(--base-900);
}

p {
  margin: 0.67em 0;
}

.container {
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.column {
  min-width: 100%;
  min-height: 100vh;
}

.column-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--base-50);
}

.author {
  text-align: center;
}

.author-img {
  max-width: 300px;
  border-radius: 2px;
}

.author-name {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button {
  background-color: var(--base-50);
  color: var(--base-900);
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
}

.column-right {
  padding: 1em;
}

.new {
  text-align: justify;
  margin-bottom: 2em;
}

.new-title {
  margin-bottom: 0.67em;
  padding-bottom: 0.67em;
  border-bottom: thin solid var(--primary);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
  gap: 0.67em;
}

.footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.67em;
}

.footer-link {
  text-decoration: none;
  color: var(--base-900);
}

.footer-link:hover {
  color: var(--primary);
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .column-left {
    position: sticky;
    top: 0;
    min-width: 60%;
  }

  .column-right {
    min-width: 40%;
  }

  .button-more {
    display: none;
  }

  .footer {
    flex-direction: row;
    gap: 0;
  }
}
